@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- Root Variables -------------------- */

:root {
  /* background colors */
  --background-light: rgb(255, 255, 255);
  --background-dark: #97887a;
  /* text colors */
  --foreground-light: #f8f8ff;
  --foreground-dark: #000000;
  --foreground-accent: #000000;

  /* text sizes */
  --global-h1-font-size: 70px;
  --global-h2-font-size: 43px;
  --global-h3-font-size: 30px;
  --global-h4-font-size: 21px;
  --global-h5-font-size: 17px;
  --global-h6-font-size: 16px;
  --global-p-font-size: 16px;
  --global-btn-font-size: 14px;
  --global-nav-font-size: 13px;
  --global-sub-h-font-size: 12px;
}

/* -------------------- Font Imports -------------------- */

/* @font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Chamberi Super Display";
  src: url("/fonts/ChamberiSuperDisplay/ChamberiSuperDisplay-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
} */

/* ------------------------------------------------------------- */

/* @font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
} */

/* -------------------- Typography -------------------- */

.display-font {
  font-family: "Chamberi Super Display", serif;
}

/* -------------------- Global Styles -------------------- */

html {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--foreground-dark);
  background: var(--background-light);
  line-height: 1.6;
  font-size: var(--global-p-font-size);
}

/* Headings */

h1 {
  font-size: var(--global-h1-font-size);
}

h2 {
  font-size: var(--global-h2-font-size);
}

h3 {
  font-size: var(--global-h3-font-size);
}

h4 {
  font-size: var(--global-h4-font-size);
}

h5 {
  font-size: var(--global-h5-font-size);
}

h6 {
  font-size: var(--global-h6-font-size);
}

/* Subheaders */
.sub-header {
  font-size: var(--global-sub-h-font-size);
}

/*  Body Text */
p {
  font-size: var(--global-p-font-size);
  color: var(--foreground-dark);
}

/*  Links */
a {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Navigation */
nav {
  font-size: var(--global-nav-font-size);
}

/* -------------------- Utility Classes -------------------- */

/* Styles for containers */

.__app_overlay_div {
  @apply absolute top-0 left-0 w-full h-full z-10;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/* .__app_overlay_div_lateral {
  @apply absolute top-0 left-0 w-full h-full z-[1];
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.7) 0%,
    hsla(0, 0%, 0%, 0.6) 8.4%,
    hsla(0, 0%, 0%, 0.5) 16.8%,
    hsla(0, 0%, 0%, 0.4) 25.1%,
    hsla(0, 0%, 0%, 0) 100%
  );
} */

/* @media (max-width: 767px) {
  .__app_overlay_div_lateral {
    background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.7) 0%,
      hsla(0, 0%, 0%, 0.6) 8.4%,
      hsla(0, 0%, 0%, 0.5) 16.8%,
      hsla(0, 0%, 0%, 0.5) 25.1%,
      hsla(0, 0%, 0%, 0.5) 100%
    );
  }
} */

/* Buttons */

/* .--btn-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
  border: 1px solid var(--foreground-primary);
  background-color: var(--foreground-primary);
  color: var(--foreground-secondary);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.--btn-primary:hover {
  background: transparent;
  color: var(--foreground-primary);
}

.--btn-secondary {
  font-weight: 600;
  font-size: 21px;
  line-height: 1em;
  border: 1px solid var(--foreground-secondary);
  background-color: var(--foreground-secondary);
  color: var(--foreground-primary);
  padding: 14px 22px;
  letter-spacing: 1.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
}

.--btn-secondary:hover {
  background: transparent;
  color: var(--foreground-secondary);
  border: 1px solid var(--foreground-primary);
  background-color: var(--foreground-primary);
}

.--btn-tertiary {
  font-weight: 600;
  font-size: 21px;
  line-height: 1em;
  border: 1px solid var(--foreground-primary);
  background-color: var(--foreground-primary);
  color: var(--foreground-secondary);
  padding: 14px 22px;
  letter-spacing: 1.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
}

.--btn-tertiary:hover {
  background: transparent;
  color: var(--foreground-primary);
} */

/* Shadows */

/* .text-shadow-md {
  text-shadow: 0px 2px 5px #00000033;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
} */
